<template>
    <div class='row mt-4'>
        <div class='col-12'>
            <div class="card">
                <div class="card-header">
                    <h4 class='card-title'>
                        Edit Category
                    </h4>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="CategoryEditSubmit">
                        <div class='row'>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control"
                                           placeholder="Enter category name" v-model="name"/>
                                    <small class='text-danger'>{{inputErrors.nameError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-primary mr-1">Submit</button>
                                <router-link class='btn btn-secondary' to='/category'>Cancel</router-link>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // eslint-disable-next-line no-unused-vars
    import {requestGetCategory, requestUpdateCategory} from "../../../api/api";

    export default {
        name: "CategoryEdit",
        data: function () {
            return {
                id: this.$route.params.id,
                name: "",
                inputErrors: {
                    nameError: ""
                }
            }
        },
        methods: {
            CategoryEditSubmit: function () {
                requestUpdateCategory(this.id, {"name": this.name}).then((response) => {
                    console.log(response.data.data);
                    this.$store.dispatch('updateCategory', {
                        category_id: response.data.data.id,
                        category_data: response.data.data
                    });
                    this.$router.push('/category');

                }).catch((error) => {
                    let errors = error.response.data.error;
                    this.inputErrors.nameError = errors.name.toString()

                });
            }
        },
        mounted() {
            requestGetCategory(this.id).then(response => {
                this.name = response.data.name;
            }).catch(error => {
                console.log(error);
            });
        }
    }
</script>

<style scoped>

</style>