<template>
    <div class='row mt-4'>
        <div class='col-12'>
            <div class="card">
                <div class="card-header">
                    <h4 class='card-title'>
                        Categories
                        <div class='float-right'>
                            <router-link to='/category/create' class='btn btn-success btn-sm'>
                                <font-awesome-icon icon="plus"/>
                                Add New
                            </router-link>
                        </div>
                    </h4>
                </div>
                <div class="card-body p-0">
                    <table class='table mb-0'>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr :key="category.id" v-for="category in categories">
                            <td>{{category.id}}</td>
                            <td>{{category.name}}</td>
                            <td>
                                <router-link :to="'/category/'+category.id+'/edit'" class='btn btn-primary btn-sm mr-1'>
                                    <font-awesome-icon icon="edit"/>
                                </router-link>

                                <button class='btn btn-danger btn-sm' v-on:click="DeleteCategory(category.id)">
                                    <font-awesome-icon icon="trash"/>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {requestDeleteCategory, requestGetCategoryList} from "../../../api/api";

    export default {
        name: "CategoryList",
        computed: {
            categories() {
                return this.$store.state.categories.categories
            }
        },
        mounted() {
            requestGetCategoryList().then(response => {
                //console.log(response);
                this.$store.dispatch('setCategories', response.data);

            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            DeleteCategory: function (category_id) {
                requestDeleteCategory(category_id).then(() => {
                    this.$store.dispatch('removeCategory', category_id);
                }).catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>