<template>
    <div class='row mt-4'>
        <div class='col-12'>
            <div class="card">
                <div class="card-header">
                    <h4 class='card-title'>
                        Create Category
                    </h4>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="CategoryCreateSubmit">
                        <div class='row'>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control"
                                           placeholder="Enter category name" v-model="name"/>
                                    <small class='text-danger'>{{inputErrors.nameError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-primary mr-1">Submit</button>
                                <router-link class='btn btn-secondary' to='/category'>Cancel</router-link>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {requestCreateCategory} from "../../../api/api";

    export default {
        name: "CategoryCreate",
        data: function () {
            return {
                name: "",
                inputErrors: {
                    nameError: ""
                }
            }
        },
        methods: {
            CategoryCreateSubmit: function () {
                requestCreateCategory({"name": this.name}).then((response) => {

                    this.$store.dispatch('addCategory', response.data.data);
                    this.$router.push('/category');

                }).catch((error) => {
                    let errors = error.response.data.error;
                    this.inputErrors.nameError = errors.name.toString();
                });
            }
        }
    }
</script>

<style scoped>

</style>