<template>
    <div class="row">
        <div class='col-sm-4 mt-4'>
            <div class='card'>
                <div class='card-header'>
                    <h4 class='card-title'>
                        Profile
                    </h4>
                </div>
                <div class='card-body text-center'>
                    <form v-on:submit.prevent="ProfileUploadSubmit">
                        <img v-bind:src="profileImgUrl" class='profile'
                             alt='profile'/>
                        <br/><br/>
                        <input type='file' name='profileImg' class='form-control'>
                        <small class='text-danger'>{{inputErrors.profileImgError}}</small>
                        <br/>
                        <button type='submit' class='btn btn-primary'>Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class='col-sm-8 mt-4'>
            <div class='card'>
                <div class='card-header'>
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#general">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#change-password">Change Password</a>
                        </li>
                    </ul>
                </div>
                <div class='card-body'>
                    <div class="tab-content">
                        <div id="general" class="container tab-pane active"><br/>
                            <form v-on:submit.prevent="GeneralSubmit">
                                <div class='row'>
                                    <div class='col-12'>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control"
                                                   placeholder="Enter Name" v-model="name"/>
                                            <small
                                                    class='text-danger'>{{inputErrors.nameError}}</small>
                                        </div>
                                    </div>
                                    <div class='col-12'>
                                        <button type="submit" class="btn btn-primary">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="change-password" class="container tab-pane fade"><br/>
                            <form v-on:submit="ChangePasswordSubmit">
                                <div class='row'>
                                    <div class='col-12'>
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="password" class="form-control"
                                                   placeholder="Enter current password"
                                                   v-model="currentPassword"/>
                                            <small class='text-danger'>{{inputErrors.currentPasswordError}}</small>
                                        </div>
                                    </div>
                                    <div class='col-12'>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control"
                                                   placeholder="Enter new password"
                                                   v-model="newPassword"/>
                                            <small class='text-danger'>{{inputErrors.newPasswordError}}</small>
                                        </div>
                                    </div>
                                    <div class='col-12'>
                                        <div class="form-group">
                                            <label>Conform Password</label>
                                            <input type="password" class="form-control"
                                                   placeholder="Enter conform password"
                                                   v-model="conformPassword"/>
                                            <small class='text-danger'>{{inputErrors.newPasswordError}}</small>
                                        </div>
                                    </div>
                                    <div class='col-12'>
                                        <button type="submit" class="btn btn-primary">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {requestGetUser} from "../../api/api";

    export default {
        name: "Profile",
        data: function () {
            return {
                name: "",
                profileImg: "",
                profileImgUrl: "",
                currentPassword: "",
                newPassword: "",
                conformPassword: "",
                inputErrors: {
                    nameError: "",
                    currentPasswordError: "",
                    newPasswordError: "",
                    conformPasswordError: "",
                    profileImgError: "",
                }
            }
        },
        methods: {
            ProfileUploadSubmit: function () {

            },
            GeneralSubmit: function () {

            },
            ChangePasswordSubmit: function () {

            }
        },
        mounted() {
            requestGetUser().then(response => {
                let user = response.data;

                this.name = user.name;
                this.profileImgUrl = user.profile_img_url;

            }).catch(error => {
                console.log(error);
            });
        }
    }
</script>

<style scoped>

</style>