<template>
    <div>
        <h1>Todo App</h1>

        <form v-on:submit.prevent="AddTodo">
            <div class="input-group">
                <input class="form-control" v-model="todoInput" placeholder="Enter todo here"/>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>

        <div class="mt-5">

            <ul class="list-group" v-if="todos.length">

                <li :key="index" v-for="(todo,index) in todos"
                    class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary list-group-item-action">
                    {{todo}}
                    <button class="btn btn-danger btn-sm" v-on:click="RemoveTodo(index)">x</button>
                </li>

            </ul>
            <p v-else>No data found</p>

        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: "About",
        data: function () {
            return {
                todoInput: ""
            }
        },
        computed: {
            // todos() {
            //     return this.$store.state.todo.todos;
            // }
            ...mapState({
                todos: state => state.todo.todos
            })
        },
        methods: {
            ...mapActions(['addTodo', 'removeTodo']),
            AddTodo: function () {
                if (this.todoInput) {
                    this.addTodo(this.todoInput);
                    this.todoInput = "";
                } else {
                    alert('Please fill the field')
                }
            },
            RemoveTodo: function (index) {
                this.removeTodo(index);
            }
        }
    }
</script>

<style scoped>

</style>