<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <router-link class="navbar-brand" to='/'><strong>K<span class="text-warning">!</span>ra</strong>
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to='/' exact-active-class="active">
                            Home
                            <span class="sr-only">(current)</span>
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="isAuthenticated">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/dashboard'>Dashboard
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="isAuthenticated">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/category'>Categories
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="isAuthenticated">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/post'>
                            Post
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/about'>
                            About
                        </router-link>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item" v-if="!isAuthenticated">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/login'>Login
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="!isAuthenticated">
                        <router-link class="nav-link" exact-active-class="active"
                                     to='/register'>Register
                        </router-link>
                    </li>

                    <li class="nav-item dropdown" v-if="isAuthenticated">
                        <router-link class="nav-link dropdown-toggle" to="#" id="navbardrop"
                                     data-toggle="dropdown">
                            {{user.name}}
                        </router-link>
                        <div class="dropdown-menu">
                            <router-link class="dropdown-item" to='/profile'>Profile</router-link>
                            <button class="dropdown-item" v-on:click="logOut">Logout
                            </button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</template>

<script>
    import store from "../store";
    import {requestUserLogout} from "../api/api";

    export default {
        name: "Header",
        computed: {
            isAuthenticated: function () {
                return store.getters.isAuthenticated
            },
            user() {
                return this.$store.state.auth.user
            }
        },
        methods: {
            logOut: function () {
                requestUserLogout().then(() => {
                    store.dispatch('authLogout');
                    this.$router.push('/login');
                }).catch(error => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>