<template>
    <div>
        <div v-if="seen">
            <h1>{{name}}</h1>
            <h1>{{msg}}</h1>
        </div>
        <span v-bind:title="name">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
        <p>
            This is home
        </p>

        <ul class="list-group">
            <li v-bind:key="todo" v-for="todo in todos" class="list-group-item">
                {{todo}}
            </li>
        </ul>

        <button class="btn btn-primary mt-2" @click="appendMsg">Click Me</button>

        <div class="mt-3">
            {{comCalled}}
        </div>

        <div class="mt-3">
            {{fullMassage}}
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Home',
        data: () => {
            return {
                msg: "this is msg",
                name: "ronak",
                seen: true,
                price: 50,
                qty:4,
                todos: [
                    "tea",
                    "coffee",
                    "lemon"
                ],
                fullMassage: "This is temporary full msg"
            }
        },
        methods: {
            appendMsg() {
                this.msg = "The message has been changed";
            }
        },
        computed: {
            comCalled: function () {
                return this.price*this.qty;
            }
        },
        beforeCreate() {
            console.log('before created');
        },
        created() {
            console.log('created');
        },
        beforeMount() {
            console.log('before mount')
        },
        mounted() {
            console.log('mount')
        },
        beforeDestroy() {
            console.log('before destroy')
        },
        destroyed() {
            console.log('destroy')
        }
    }
</script>
