<template>
    <div class='row mt-4'>
        <div class='col-12'>
            <div class="card w-50 m-auto">
                <div class="card-header">
                    <h4 class='card-title'>
                        Login
                    </h4>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="SubmitLogin">
                        <div class='row'>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Enter email" v-model="email"/>
                                    <small class='text-danger'>{{inputErrors.emailError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Enter password"
                                           v-model="password"/>
                                    <small class='text-danger'>{{inputErrors.passwordError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-primary btn-block">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {requestGetUser, requestLogin} from "../api/api";
    import {mapActions} from "vuex";

    export default {
        name: "Login",
        data: function () {
            return {
                email: "",
                password: "",
                inputErrors: {
                    emailError: "",
                    passwordError: ""
                }
            }
        },
        methods: {
            ...mapActions(['authSuccess']),
            SubmitLogin: function () {
                requestLogin({
                    "email": this.email,
                    "password": this.password
                }).then(response => {
                    localStorage.setItem('token', response.data.token);
                    this.authSuccess(response.data.user);

                    this.$router.push('/dashboard');
                }).catch(error => {
                    let errors = error.response.data.error;

                    this.inputErrors.emailError = errors.email.toString();
                    this.inputErrors.passwordError = errors.password.toString();
                });
            }
        },
        mounted() {
            requestGetUser().then(() => {
                this.$router.push('/dashboard');
            })
        }
    }
</script>

<style scoped>

</style>