<template>
    <div class='row mt-4'>
        <div class='col-12'>
            <div class="card w-50 m-auto">
                <div class="card-header">
                    <h4 class='card-title'>
                        Register
                    </h4>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="submitRegister">
                        <div class='row'>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control"
                                           placeholder="Enter name" v-model="name"/>
                                    <small class='text-danger'>{{inputErrors.nameError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control"
                                           placeholder="Enter email" v-model="email"/>
                                    <small class='text-danger'>{{inputErrors.emailError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control"
                                           placeholder="Enter password" v-model="password"/>
                                    <small
                                            class='text-danger'>{{inputErrors.passwordError}}</small>
                                </div>
                            </div>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {requestRegister} from "../api/api";

    export default {
        name: "Register",
        data: function () {
            return {
                name: "",
                email: "",
                password: "",
                inputErrors: {
                    nameError: "",
                    emailError: "",
                    passwordError: ""
                }
            }
        },
        methods: {
            submitRegister: function () {
                requestRegister({
                    "name": this.name,
                    "email": this.email,
                    "password": this.password
                }).then(response => {
                    console.log(response.data.user);
                    localStorage.setItem('token', response.data.token);
                    this.authSuccess(response.data.user);

                    this.$router.push('/dashboard');
                }).catch(error => {
                    let errors = error.response.data.error;

                    this.inputErrors.nameError = errors.name.toString();
                    this.inputErrors.emailError = errors.email.toString();
                    this.inputErrors.passwordError = errors.password.toString();
                });
            }
        }
    }
</script>

<style scoped>

</style>