<template>
    <div>
        <Header user-name="Ranjeet Mali"/>
        <div class="container-fluid">
            <router-view/>
        </div>
        <footer class="footer bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; K<span class="text-warning">!</span>ra Blogs 2019
                </p>
            </div>
        </footer>
    </div>
</template>
<script>
    import Header from "./components/Header";

    export default {
        name: "App",
        components: {
            Header
        }
    };
</script>
